@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title Nós</h2>

@*<div class="row">
    <div class="col-9">.col-9</div>

    <br /><div class="col-4">.col-4<br>Já que 9 + 4 é maior que 12, esta div de quatro colunas pula para essa nova linha.</div>

    <div class="col-6">.col-6<br>Colunas subsequentes pulam junto para a nova linha.</div>
</div>*@